<h1 style="color: #AA1358;">ML Preprocessing</h1>

<h2 style="color: #A4064D;">Libraries</h2>

In [1]:
## Basic libraries
import pandas as pd 
import numpy as np 

## EDA Libraries
import matplotlib.pyplot as plt
import seaborn as sns

## Settings
pd.set_option('display.max_columns', None) # display all columns
import warnings
warnings.filterwarnings('ignore') # ignore warnings

<h2 style="color: #A4064D;">Loading Data</h2>

In [16]:
data = pd.read_csv('data/for_eda.csv').drop(columns=['Unnamed: 0']) 
df = data.copy()

# Display the first 10 rows of the DataFrame
df.head(10)

,id,age,education,marital_status,income,childrenhome,dt_customer,recency,wine_products,fruit_products,meat_products,fish_products,sweet_products,gold_products,total_products,deal_purchases,web_purchases,catalog_purchases,store_purchases,total_purchases,web_visits_permonth,acceptedcmp3,acceptedcmp4,acceptedcmp5,acceptedcmp1,acceptedcmp2,total_cmp,complain,response
0,5524,67,Graduation,Single,58138.0,0,2012-09-04,58,635,88,546,172,88,88,1617,3,8,10,4,22,7,0,0,0,0,0,0,0,1
1,2174,70,Graduation,Single,46344.0,2,2014-03-08,38,11,1,6,2,1,6,27,2,1,1,2,4,5,0,0,0,0,0,0,0,0
2,4141,59,Graduation,Together,71613.0,0,2013-08-21,26,426,49,127,111,21,42,776,1,8,2,10,20,4,0,0,0,0,0,0,0,0
3,6182,40,Graduation,Together,26646.0,1,2014-02-10,26,11,4,20,10,3,5,53,2,2,0,4,6,6,0,0,0,0,0,0,0,0
4,5324,43,PhD,Married,58293.0,1,2014-01-19,94,173,43,118,46,27,15,422,5,5,3,6,14,5,0,0,0,0,0,0,0,0
5,7446,57,Master,Together,62513.0,1,2013-09-09,16,520,42,98,0,42,14,716,2,6,4,10,20,6,0,0,0,0,0,0,0,0
6,965,53,Graduation,Divorced,55635.0,1,2012-11-13,34,235,65,164,50,49,27,590,4,7,3,7,17,6,0,0,0,0,0,0,0,0
7,6177,39,PhD,Married,33454.0,1,2013-05-08,32,76,10,56,3,1,23,169,2,4,0,4,8,8,0,0,0,0,0,0,0,0
8,4855,50,PhD,Together,30351.0,1,2013-06-06,19,14,0,24,3,3,2,46,1,3,0,2,5,9,0,0,0,0,0,0,0,1
9,5899,74,PhD,Together,5648.0,2,2014-03-13,68,28,0,6,1,1,13,49,1,1,0,0,1,20,1,0,0,0,0,1,0,0

In [19]:
# Show some info about the dataset

print("Data Overview:\n")
print(df.info())
print("\nNumber of variables per type:\n")
print(df.dtypes.value_counts())
print("\nNumber of missing values per column:\n")
print(df.isnull().sum())
print("\nDuplicated rows in the dataset:\n")
print(df.duplicated().sum())
print("\nNumber of unique values per column:\n")
print(df.nunique())

Data Overview:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2236 entries, 0 to 2235
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   2236 non-null   int64
 1   age                  2236 non-null   int64
 2   education            2236 non-null   object
 3   marital_status       2236 non-null   object
 4   income               2236 non-null   float64
 5   childrenhome         2236 non-null   int64
 6   dt_customer          2236 non-null   object
 7   recency              2236 non-null   int64
 8   wine_products        2236 non-null   int64
 9   fruit_products       2236 non-null   int64
 10  meat_products        2236 non-null   int64
 11  fish_products        2236 non-null   int64
 12  sweet_products       2236 non-null   int64
 13  gold_products        2236 non-null   int64
 14  total_products       2236 non-null   int64
 15  deal_purchases       2236 non-null   int64
 16  web_purchases        2236 non-null   int64
 17  catalog_purchases    2236 non-null   int64
 18  store_purchases      2236 non-null   int64
 19  total_purchases      2236 non-null   int64
 20  web_visits_permonth  2236 non-null   int64
 21  acceptedcmp3         2236 non-null   int64
 22  acceptedcmp4         2236 non-null   int64
 23  acceptedcmp5         2236 non-null   int64
 24  acceptedcmp1         2236 non-null   int64
 25  acceptedcmp2         2236 non-null   int64
 26  total_cmp            2236 non-null   int64
 27  complain             2236 non-null   int64
 28  response             2236 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 506.7+ KB
None

Number of variables per type:

int64      25
object      3
float64     1
Name: count, dtype: int64

Number of missing values per column:

id                     0
age                    0
education              0
marital_status         0
income                 0
childrenhome           0
dt_customer            0
recency                0
wine_products          0
fruit_products         0
meat_products          0
fish_products          0
sweet_products         0
gold_products          0
total_products         0
deal_purchases         0
web_purchases          0
catalog_purchases      0
store_purchases        0
total_purchases        0
web_visits_permonth    0
acceptedcmp3           0
acceptedcmp4           0
acceptedcmp5           0
acceptedcmp1           0
acceptedcmp2           0
total_cmp              0
complain               0
response               0
dtype: int64

Duplicated rows in the dataset:

0

Number of unique values per column:

id                     2236
age                      59
education                 5
marital_status            5
income                 1975
childrenhome              4
dt_customer             663
recency                 100
wine_products           776
fruit_products          158
meat_products           558
fish_products           182
sweet_products          177
gold_products           212
total_products         1053
deal_purchases           15
web_purchases            15
catalog_purchases        14
store_purchases          14
total_purchases          33
web_visits_permonth      16
acceptedcmp3              2
acceptedcmp4              2
acceptedcmp5              2
acceptedcmp1              2
acceptedcmp2              2
total_cmp                 5
complain                  2
response                  2
dtype: int64

As we see at the sneak peak, our dataset it's pretty clean (because this csv was preprocessed in a previous project for an exhaustive Marketing Analysis). 
- 0 Missing values
- 0 duplicated rows
- Types: 25 integers (6 of them are booleans), 3 objects and 1 float

In [20]:
# Lets see descriptive statistics for numerical and categorical variables
print("\nDescriptive statistics for numerical variables:\n")
print(df.select_dtypes(include=['int64', 'float64']).describe())
print("\nDescriptive statistics for categorical variables:\n")
print(df.select_dtypes(include=['object']).describe())

Descriptive statistics for numerical variables:

                 id          age         income  childrenhome      recency  \
count   2236.000000  2236.000000    2236.000000   2236.000000  2236.000000
mean    5591.551878    55.203488   52228.004249      0.951252    49.147138
std     3245.240106    11.980604   25053.119141      0.751936    28.954880
min        0.000000    28.000000    1730.000000      0.000000     0.000000
25%     2828.250000    47.000000   35502.500000      0.000000    24.000000
50%     5458.500000    54.000000   51498.500000      1.000000    49.000000
75%     8427.750000    65.000000   68289.750000      1.000000    74.000000
max    11191.000000   131.000000  666666.000000      3.000000    99.000000

       wine_products  fruit_products  meat_products  fish_products  \
count    2236.000000     2236.000000    2236.000000    2236.000000
mean      303.873435       26.271020     166.924419      37.405188
std       336.876776       39.761356     225.778550      54.436749
min         0.000000        0.000000       0.000000       0.000000
25%        23.000000        1.000000      16.000000       3.000000
50%       173.000000        8.000000      67.000000      12.000000
75%       505.000000       33.000000     232.000000      50.000000
max      1493.000000      199.000000    1725.000000     259.000000

       sweet_products  gold_products  total_products  deal_purchases  \
count     2236.000000    2236.000000     2236.000000     2236.000000
mean        27.081395      43.880590      605.436047        2.322898
std         41.300943      51.979634      602.507355        1.932052
min          0.000000       0.000000        5.000000        0.000000
25%          1.000000       9.000000       68.000000        1.000000
50%          8.000000      24.000000      395.500000        2.000000
75%         33.000000      56.000000     1044.250000        3.000000
max        263.000000     362.000000     2525.000000       15.000000

       web_purchases  catalog_purchases  store_purchases  total_purchases  \
count    2236.000000        2236.000000      2236.000000      2236.000000
mean        4.082737           2.659213         5.789356        12.531306
std         2.779736           2.920752         3.253756         7.209762
min         0.000000           0.000000         0.000000         0.000000
25%         2.000000           0.000000         3.000000         6.000000
50%         4.000000           2.000000         5.000000        12.000000
75%         6.000000           4.000000         8.000000        18.000000
max        27.000000          28.000000        13.000000        32.000000

       web_visits_permonth  acceptedcmp3  acceptedcmp4  acceptedcmp5  \
count          2236.000000   2236.000000   2236.000000   2236.000000
mean              5.317531      0.072898      0.074687      0.072451
std               2.424756      0.260027      0.262944      0.259291
min               0.000000      0.000000      0.000000      0.000000
25%               3.000000      0.000000      0.000000      0.000000
50%               6.000000      0.000000      0.000000      0.000000
75%               7.000000      0.000000      0.000000      0.000000
max              20.000000      1.000000      1.000000      1.000000

       acceptedcmp1  acceptedcmp2    total_cmp     complain     response
count   2236.000000   2236.000000  2236.000000  2236.000000  2236.000000
mean       0.063953      0.013417     0.297406     0.009392     0.148479
std        0.244725      0.115077     0.677944     0.096477     0.355654
min        0.000000      0.000000     0.000000     0.000000     0.000000
25%        0.000000      0.000000     0.000000     0.000000     0.000000
50%        0.000000      0.000000     0.000000     0.000000     0.000000
75%        0.000000      0.000000     0.000000     0.000000     0.000000
max        1.000000      1.000000     4.000000     1.000000     1.000000

Descriptive statistics for categorical variables:

         education marital_status dt_customer
count         2236           2236        2236
unique           5              5         663
top     Graduation        Married  2012-08-31
freq          1126            864          12